<!doctype html> 
<html lang="{{ .Site.LanguageCode }}"> 
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icons -->
  <link rel="icon" href="/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />

  <!-- CSS Style -->
  <link rel="stylesheet" href="/style.css" />
</head>

<body class="{{ with .Site.Params.pageLayoutClass }}{{ . }}{{ end }}">

  <div class="header center">
    <ul class="navbar">
	{{ range .Site.Params.headerLinks }}
	{{ range $k, $v := . }}
		<li class="navbar"><a class="navbar" href="{{ $v }}">{{ $k }}</a></li>
	{{ end }}
	{{ end }}
	</ul>
  </div>

  <div class="wrap">
    <header class="mb">
      <h1 class="h2 m-0"><a href="/">{{ .Site.Title }}</a></h1>
      <p class="site-description">{{ .Site.Params.description }}</p>
    </header>
